/* Colors: */

// Grayscale //
$textgray: 		 hsla(0, 0%, 20%, 1);
$jet: 			 hsla(0, 0%, 20%, 1);
$halfgray: 		 hsla(0, 0%, 50%, 1);
$darkgray: 		 hsla(0, 0%, 30%, 1);
$medgray:		 hsla(0, 0%, 45%, 1);
$lightgray:		 hsla(0, 0%, 60%, 1);

// Coolors Color Scheme: //
$lightblue: 	 hsla(195%, 53%, 79%, 1);
$blackcoral: 	 hsla(207%, 11%, 39%, 1);
$razzmic-berry:  hsla(314%, 31%, 47%, 1);
$darkgunmetal:   hsla(236%, 21%, 14%, 1);

// KEY:
// lightblue: dusty light blue
// blackcoral: blue-ish gray
// razzmic berry: darkish fuschia
// dark gunmetal: very dark tinted blue