<footer class="recipe-footer-wrapper">
	<ul class="recipe-footer__list">
		<li class="recipe-footer__list-item list-item--sweet">
			<a href="{{ '/sweet' | relative_url }}">Sweet</a>
		</li>
		<li class="recipe-footer__list-item list-item--savory">
			<a href="{{ '/savory' | relative_url }}">Savory</a>
		</li>
		<li class="recipe-footer__list-item list-item--index">
			<a href="{{ '/recipe-index' | relative_url }}">Index</a>
		</li>
		<li class="recipe-footer__list-item list-item--home">
			<a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
		</li>
	</ul>
</footer>