/* Recipe Page Navigation: */

.recipe-nav-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: lightblue;
}

// ul
.recipe-nav__link-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin: 0;
	padding: 0 2rem;
}

// li
.recipe-nav__home {
	align-self: center;
	&::before {
		display: none;
	}
}

// a
.recipe-home__link {

}

// li
.recipe-nav__list-wrapper {
	position: relative;
	&::before {
		display: none;
	}
}

// ul
.recipe-nav__list {
	position: relative;
	display: flex;
	list-style-type: none;
}

// li
.recipe-nav__list-item {
	&::before {
		display: none;
	}
	padding-left: 1.5rem;
}

// a
.recipe-home__link, 
.recipe-item__link {
	text-transform: uppercase;
	border-bottom: 1px solid $darkgunmetal;
	color:  $darkgunmetal;
	text-shadow: 0 0 1px hsla(0, 0, 0, .35);
	&:hover, &:focus {
		color: white; //$darkgunmetal;
		border-color: white;
	}
}